body,
html{

	width: 100%;
	height: 100%;
}

.main-container {
}

.top-banner {
	display: flex;
	border: 1px solid black;
	width: 100%;
	max-width: 50rem;

}

.img-container{
	
}

.img-container img {

	width: 100%;
	max-width: 20px;
}

.right-capt{
position: absolute;
	text-align: center;
	max-width: 35rem;
}
.right-capt h2{

	font-size: 20px;
}

.top-tag {

	
	width: 100%;
	max-width: 50rem;
	text-align: center;

}

.main-content {
	width: 100%;
	max-width: 50rem;
	text-align: left;
	padding-top: 10px;

}
.data-diri{


margin: 0 auto;
}
.main-content .data-diri ul li{
list-style: none;
}

.demikian {

	text-align: left;
	padding: 6px;

}

.yogyakarta {

position: relative;
right: 120px;
	text-align: right;
	padding: 10px;

}

.pembim-min{
	width: 100%;
	max-width: 30rem;
	display: block;
	margin: 0 auto;
}

.titik1{
	width: 100%;
	max-width: 30rem;
	display: block;
	margin: 0 auto;
}

.menyetujui {

	text-align: center;
}

.top-banner2 {
	text-align: center;
}
.peminjam {
	float: right;
	padding-right: 190px;
}
.titik2{
	float: right;

	padding-right: 130px;
}